<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Takuma Yamashita">
    <link rel="icon" href="/images/typing-square.ico">
    <title>【Typing Square】使用楽曲、およびイラストの詳細</title>
    <meta name="description" content="Typing Squareは音ゲーとタイピングゲームを掛け合わせた無料で遊べるブラウザゲームです。音楽に沿ってランダムに流れてくるキーをタイミングよく叩いてハイスコアを目指そう！">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>

<% if (isProduction) { %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9GMBD15D7C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9GMBD15D7C');
  </script>
<% } %>

  <body>
    <main class="bg-body-secondary">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color: skyblue;">
        <!--<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <img src="/images/logo.png">
        </a>-->
        <a href="/" style="width: 80%; text-align: center">
          <img src="/images/logo.png" style="width: 70%">
        </a>
        <!--
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        </ul>
        -->
        
      </header>
      <div class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-6">キャラクター</h1>
        </div>
        <table class="table table-striped table-responsive-md">
            <thead>
              <tr>
                <th scope="col">Author</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td>ねこ画伯コハクちゃん</td>
                <td><a href="https://kohacu.com/">https://kohacu.com/</td>
              </tr>
            </tbody>
          </table>

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-6">音源</h1>
        </div>
        <table class="table table-striped table-responsive-md">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">sunset</th>
                <td>prod. BKOJ!</td>
                <td><a href="https://www.youtube.com/watch?v=eQQKF_Fz--w">https://www.youtube.com/watch?v=eQQKF_Fz--w</td>
              </tr>
              <tr>
                <th scope="row">road</th>
                <td>prod. BKOJ!</td>
                <td><a href="https://www.youtube.com/watch?v=Ok3AzyqPNtc">https://www.youtube.com/watch?v=Ok3AzyqPNtc</td>
              </tr>
              <tr>
                <th scope="row">proper dose</th>
                <td>prod. BKOJ!</td>
                <td><a href="https://www.youtube.com/watch?v=nv-HqdZM7lk">https://www.youtube.com/watch?v=nv-HqdZM7lk</td>
              </tr>
              <tr>
                <th scope="row">canon</th>
                <td>MMT38</td>
                <td><a href="https://mmt38.info/arrange/classic_others/">https://mmt38.info/arrange/classic_others/</td>
              </tr>
              <tr>
                <th scope="row">reggae time</th>
                <td>Tambourine Man</td>
                <td><a href="">https://www.youtube.com/watch?v=54YmVKOkudo</td>
              </tr>
              <tr>
                <th scope="row">くるみ割り人形：行進曲</th>
                <td>MMT38</td>
                <td><a href="https://mmt38.info/arrange/tchaikovsky/">https://mmt38.info/arrange/tchaikovsky/</td>
              </tr>
              <tr>
                <th scope="row">カルメン</th>
                <td>かまタマゴ</td>
                <td><a href="https://kamatamago.com/sozai/classic/C00016/">https://kamatamago.com/sozai/classic/C00016/</td>
              </tr>
              <tr>
                <th scope="row">Sleepiness</th>
                <td>zukisuzuki</td>
                <td><a href="https://zukisuzukibgm.com/sleepiness/">https://zukisuzukibgm.com/sleepiness/</td>
              </tr>
              <tr>
                <th scope="row">魔法のクッキング</th>
                <td>MusMus</td>
                <td><a href="https://musmus.main.jp/jazz.html">https://musmus.main.jp/jazz.html</td>
              </tr>
              <tr>
                <th scope="row">Pops up the mind wings</th>
                <td>MusMus</td>
                <td><a href="https://musmus.main.jp/jazz.html">https://musmus.main.jp/jazz.html</td>
              </tr>
              <tr>
                <th scope="row">上海紅茶館　～ Chinese Tea</th>
                <td>ZUN</td>
                <td><a href="https://www16.big.or.jp/~zun/html/mcdtop.html">https://www16.big.or.jp/~zun/html/mcdtop.html</td>
              </tr>
              <tr>
                <th scope="row">U.N.オーエンは彼女なのか?</th>
                <td>
                  <ul>
                    <li>ZUN (原曲)</li>
                    <li>ユーフルカ</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li><a href="https://www16.big.or.jp/~zun/html/mcdtop.html">https://www16.big.or.jp/~zun/html/mcdtop.html</li>
                    <li><a href="https://youfulca.com/2022/08/10/unowen/">https://youfulca.com/2022/08/10/unowen/</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">亡き王女の為のセプテット</th>
                <td>
                  <ul>
                    <li>ZUN (原曲)</li>
                    <li>ユーフルカ</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li><a href="https://touhou-project.news/titles/th06/">https://touhou-project.news/titles/th06/</li>
                    <li><a href="https://youfulca.com/2022/08/10/septet/">https://youfulca.com/2022/08/10/septet/</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">魔理沙は大変なものを盗んでいきました</th>
                <td>
                  <ul>
                    <li>ZUN (原曲)</li>
                    <li>IOSYS</li>
                  </ul>
                </td>
                <td>
                  <a href="https://www.iosysos.com/discographyportal.php?cdno=IO-0100">https://www.iosysos.com/discographyportal.php?cdno=IO-0100
                </td>
              </tr>
              <tr>
                <th scope="row">チルノのパーフェクトさんすう教室</th>
                <td>
                  <ul>
                    <li>ZUN (原曲)</li>
                    <li>IOSYS</li>
                  </ul>
                </td>
                <td>
                  <a href="https://www.iosysos.com/discographyportal.php?cdno=IO-0147">https://www.iosysos.com/discographyportal.php?cdno=IO-0147
                </td>
              </tr>
              <tr>
                <th scope="row">患部で止まってすぐ溶ける ～ 狂気の優曇華院</th>
                <td>
                  <ul>
                    <li>ZUN (原曲)</li>
                    <li>IOSYS</li>
                  </ul>
                </td>
                <td>
                  <a href="https://www.iosysos.com/discographyportal.php?cdno=IO-0148">https://www.iosysos.com/discographyportal.php?cdno=IO-0148
                </td>
              </tr>
              <tr>
                <th scope="row">スカーレット警察のゲットーパトロール24時</th>
                <td>
                  <ul>
                    <li>ZUN (原曲)</li>
                    <li>IOSYS</li>
                  </ul>
                </td>
                <td>
                  <a href="https://www.iosysos.com/discographyportal.php?cdno=IO-0285">https://www.iosysos.com/discographyportal.php?cdno=IO-0285
                </td>
              </tr>
              <tr>
                <th scope="row">まばゆい☆HIKARI</th>
                <td>maruya328</td>
                <td><a href="https://maruya328.booth.pm/items/5220298">https://maruya328.booth.pm/items/5220298</td>
              </tr>
              <tr>
                <th scope="row">Breezevibe - 風に舞う想い</th>
                <td>maruya328</td>
                <td><a href="https://maruya328.booth.pm/items/5863522">https://maruya328.booth.pm/items/5863522</td>
              </tr>
              <tr>
                <th scope="row">花魁🌸花盛り</th>
                <td>maruya328</td>
                <td><a href="https://maruya328.booth.pm/items/5380521">https://maruya328.booth.pm/items/5380521</td>
              </tr>
            </tbody>
          </table>

          <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-6">イラスト</h1>
          </div>
          <table class="table table-striped table-responsive-md">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">sunset</th>
                <td>fuzisawa</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=23451814">https://www.ac-illust.com/main/profile.php?id=23451814</a></td>
              </tr>
              <tr>
                <th scope="row">road</th>
                <td>kabu</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=ymfq58Zi">https://www.ac-illust.com/main/profile.php?id=ymfq58Zi</td>
              </tr>
              <tr>
                <th scope="row">proper dose</th>
                <td>万屋_絵師</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=23595292">https://www.ac-illust.com/main/profile.php?id=23595292</td>
              </tr>
              <tr>
                <th scope="row">canon</th>
                <td>fuzisawa</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=23451814">https://www.ac-illust.com/main/profile.php?id=23451814</td>
              </tr>
              <tr>
                <th scope="row">reggae time</th>
                <td>T.H</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=lHPQOAoI">https://www.ac-illust.com/main/profile.php?id=lHPQOAoI</td>
              </tr>
              <tr>
                <th scope="row">くるみ割り人形：行進曲</th>
                <td>瑞貴</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=23789140">https://www.ac-illust.com/main/profile.php?id=23789140</td>
              </tr>
              <tr>
                <th scope="row">カルメン</th>
                <td>みっちゃ</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=3xhcdqy4">https://www.ac-illust.com/main/profile.php?id=3xhcdqy4</td>
              </tr>
              <tr>
                <th scope="row">Sleepiness</th>
                <td>yosei</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=2Ba81VWu">https://www.ac-illust.com/main/profile.php?id=2Ba81VWu</td>
              </tr>
              <tr>
                <th scope="row">魔法のクッキング</th>
                <td>たらこ</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=OoUMlI9y">https://www.ac-illust.com/main/profile.php?id=OoUMlI9y</td>
              </tr>
              <tr>
                <th scope="row">Pops up the mind wings</th>
                <td>たかっしゃん</td>
                <td><a href="https://www.ac-illust.com/main/profile.php?id=cT9OCOxG">https://www.ac-illust.com/main/profile.php?id=cT9OCOxG</td>
              </tr>
              <tr>
                <th scope="row">上海紅茶館　～ Chinese Tea</th>
                <td>ZUN</td>
                <td><a href="https://www16.big.or.jp/~zun/html/mcdtop.html">https://www16.big.or.jp/~zun/html/mcdtop.html</td>
              </tr>
              <tr>
                <th scope="row">U.N.オーエンは彼女なのか?</th>
                <td>ZUN</td>
                <td><a href="https://www16.big.or.jp/~zun/html/mcdtop.html">https://www16.big.or.jp/~zun/html/mcdtop.html</td>
              </tr>
              <tr>
                <th scope="row">亡き王女の為のセプテット</th>
                <td>ZUN</td>
                <td><a href="https://touhou-project.news/titles/th06/">https://touhou-project.news/titles/th06/</td>
              </tr>
              <tr>
                <th scope="row">魔理沙は大変なものを盗んでいきました</th>
                <td>IOSYS</td>
                <td><a href="https://www.iosysos.com/discographyportal.php?cdno=IO-0100">https://www.iosysos.com/discographyportal.php?cdno=IO-0100</td>
              </tr>
              <tr>
                <th scope="row">チルノのパーフェクトさんすう教室</th>
                <td>IOSYS</td>
                <td><a href="https://www.iosysos.com/discographyportal.php?cdno=IO-0147">https://www.iosysos.com/discographyportal.php?cdno=IO-0147</td>
              </tr>
              <tr>
                <th scope="row">患部で止まってすぐ溶ける ～ 狂気の優曇華院</th>
                <td>IOSYS</td>
                <td><a href="https://www.iosysos.com/discographyportal.php?cdno=IO-0148">https://www.iosysos.com/discographyportal.php?cdno=IO-0148</td>
              </tr>
              <tr>
                <th scope="row">スカーレット警察のゲットーパトロール24時</th>
                <td>IOSYS</td>
                <td><a href="https://www.iosysos.com/discographyportal.php?cdno=IO-0285">hhttps://www.iosysos.com/discographyportal.php?cdno=IO-0285</td>
              </tr>
              <tr>
                <th scope="row">まばゆい☆HIKARI</th>
                <td>MoonSun</td>
                <td><a href="https://www.ac-illust.com/main/detail.php?id=25217330">https://www.ac-illust.com/main/detail.php?id=25217330</td>
              </tr>
              <tr>
                <th scope="row">Breezevibe - 風に舞う想い</th>
                <td>maruya328</td>
                <td><a href="https://maruya328.booth.pm/items/5863522">https://maruya328.booth.pm/items/5863522</td>
              </tr>
              <tr>
                <th scope="row">花魁🌸花盛り</th>
                <td>maruya328</td>
                <td><a href="https://maruya328.booth.pm/items/5380521">https://maruya328.booth.pm/items/5380521</td>
              </tr>
            </tbody>
          </table>
      </div>

      <div class="container-fluid bg-body">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-around border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">Typing Squareについて</a></li>
            <li class="nav-item"><a href="/credit" class="nav-link px-2 text-body-secondary">使用楽曲、およびイラストの詳細</a></li>
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/credit">
                  <img src="/images/jp.png" style="width: 30%"> 日本語
                </a>  
                <a class="dropdown-item" href="/en/credit">
                  <img src="/images/en.png" style="width: 30%"> English
                </a>  
              </div>
            </li> 
          </ul> 
          <p class="text-center text-body-secondary">&copy; 2025 Typing Square</p>
        </footer>
      </div>
    </main>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
      
  </body>
</html>
